*{
    margin: 0;
}

.fp{
    
    display: flex;
    justify-content:baseline;
    width: fit-content;
    margin-left: 100px;
}

.listingHeader{
    margin-left: 100px;
    color: #003580;
    font-weight: bolder;
}

.card{
    border: 1px solid lightslategray;
    margin: 20px;
    border-radius: 5px; 
    width: fit-content;
}

.cardimgtop{
    width: 300px;
    height: 200px;
    border-radius: 5px;
}

.cardbody{
    padding: 5px;
    gap: 5px;
}

.btn{
    margin-top: 10px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

.card-title{
    gap: 5px;
    color:gray;
    width: fit-content;
    padding: 2px;
    font-weight: bolder;
    margin: 2px;
}

.card-type{
    font-size: 15px;
    color: gray;
    margin: 2px;
}
.card-city{
    font-size: 14px;
    color: gray;
    margin: 2px;
}
.card-address{
    font-size: 13px;
    color: gray;  
    padding: 2px;
    margin: 2px;
}
.card-price{
    font-size: 15px;
    color: gray;
    margin: 2px;
}

.btn>button{
    border-radius: 5px;
    padding: 8px;
    width: fit-content;
    font-size: 18px;
    cursor: pointer;
    border: none;
    color: white;
}
